<h1>Add new celebrities</h1>
<form method="POST" action="/celebrities/create">
    <label> Name:
        <input type="text" name="name">
    </label>
    <label > Occupation:
        <input type="text" name="occupation">
    </label>
    <label> CatchPhrase:
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit">Add celebrity</button>
</form>