<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button><a href="/celebrities/create">Create a celebrity</a></button>
<button><a href="/celebrities/all-celebrities">See all celebrities</a></button>
<button><a href="/movies/create">Create a movie</a></button>
<button><a href="/movies/all-movies">See all movies</a></button>
